body{
    background-color: cadetblue;
}
h1, h2, h3{
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: 400px;
    width: 400px;
}
.tab { margin-left: 40px; }
