body{
    background-color: #fff3c4;
}
h1, h2, h3{
    text-align: center;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: 470px;
    width: 600px;
}
.tab { margin-left: 40px;
margin-right: 40px; }
p{
    font-size: 20px;
    text-align: center;
    padding: 5px;
    background-color: pink;
}
li{
    padding: 10px;
    font-size: 17px;
}
#br{
    background-color: #6484ed;
    height: 10px;
}
#stretch{
    width: 600px;
}
a{
    display: block;
text-align: center;
    border-radius: 25px;
    background: #6484ed;
    padding: 20px;
    width: 150;
    height: 100px;
    padding-bottom: 20px;
    font-size: xx-large;
    margin-left: auto ;
    margin-right: auto;
    color: white;

    
}
a:visited{
    color: white;
}